<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定义bean -->
    <bean id="messageServiceImpl" class="com.spring.IoC.MessageServiceImpl">
        <constructor-arg name="username" value="Tom"/>
        <constructor-arg name="age" value="20"/>
    </bean>
    <bean id="MessagePrinter" class="com.spring.IoC.MessagePrinter">
        <constructor-arg name="service" ref="messageServiceImpl"/>
    </bean>
    <bean id="user" class="com.spring.IoC.User">
        <constructor-arg name="account" value="admin"/>
        <constructor-arg name="password" value="111"/>

    </bean>
    <bean id="userlogin" class="com.spring.IoC.UserLogin">
        <constructor-arg name="user" ref="user">

        </constructor-arg>
    </bean>
</beans>